[user]
    name = koki-algebra
    email = biz.kokiyamada1022@gmail.com

[core]
    pager = delta
    editor = vim

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true

[init]
    defaultBranch = main

[diff]
    colorMoved = default

[merge]
    conflictstyle = diff3

[rebase]
    autostash = true
    autosquash = true

[push]
    default = current

[fetch]
    prune = true

[pull]
    ff = only

[alias]
    tree = log --graph --pretty=format:'%x09%C(auto) %h %Cgreen %ar %Creset%x09by "%C(cyan ul)%an%Creset" %x09%C(auto)%s %d'
